button.btn.add-todo-btn
{
    position: absolute;
    right: 20px;
    bottom: 20px;
    color: var(--add-todo-btn-color);
    background-color: var(--add-todo-btn-background-color);
    box-shadow: var(--box-shadow);
    height: 50px;
    width: 50px;
    opacity: 1;
    border-radius: calc(var(--base-border-radius) * 5);
    transition: opacity .15s ease-in;

    &:hover
    {
        opacity: .8;
        transition: opacity .15s ease-in;
    }

    &:active
    {
        transform: scale(.98);
        box-shadow: none;
        transition: none;
    }
}

.container.todo-app-container
{
    width: 80vw;
    max-width: 350px;
    height: 400px;
    overflow-x: scroll;
    margin-top: 30px;
}

.add-todo-information-container
{
    position: absolute;
    top: -100%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--add-todo-information-container-background-color);
    height: 500px;
    width: 65vw;
    max-width: 450px;
    box-shadow: var(--box-shadow);
    border-radius: var(--base-border-radius);
    padding: 0 40px;
    animation: openAddTodoDialog .4s linear forwards;
    
    & header
    {
        margin-top: 25px;
    }

    & .container.inputs-container
    {
        gap: 50px;
        margin-top: 50px;

        & input
        {
            height: 40px;
            background-color: #fff;
            width: 100%;
            text-indent: 10px;
            border-radius: calc(var(--base-border-radius) / 2);
            margin-top: 10px;
        }

        & .create-todo-btn
        {
            font-family: inherit;
            text-transform: uppercase;
            font-size: 1.05rem;
            background-color: #fff;
            padding: 10px 15px;
            width: fit-content;
            border-radius: calc(var(--base-border-radius) / 2);
            box-shadow: var(--box-shadow);
            background-color: var(--create-todo-btn-background-color);
            white-space: nowrap;
            transition: opacity .2s ease-in;

            &:hover
            {
                opacity: .95;
                transition: opacity .2s ease-in;
            }

            &:active
            {
                transform: scale(.98);
                box-shadow: none;
                transition: none;
            }
        }
    }

    ::backdrop {
        background-image: linear-gradient(
            45deg,
            rgba(0, 0, 0, 0.6), 
            rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.6)
        );
    }
}

/* Done Todos */
.open-done-todos-container-btn
{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 25px;
    color: var(--primary-text-color);
    transition: right .5s ease-in;

    &.active
    {
        right: 100vw;
        transition: right .5s ease-in;
    }
}

.container.done-todos-container
{
    position: fixed;
    top: 0;
    right: -100vw;
    background-color: #fff;
    height: 100dvh;
    width: 100%;
    min-width: 400px;
    max-width: 40vw;
    margin: auto;
    animation: openDoneTodosContainer .8s linear forwards;

    & header
    {
        margin-top: 80px;
        text-align: center;
        color: var(--todo-item-text-color);
    }

    & button:not(.undo-complete-todo-btn, .delete-complete-todo-btn) i
    {
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 25px;
        color: var(--todo-item-complete-btn-color);

    }

    ::backdrop {
        background-image: linear-gradient(
            45deg,
            rgba(0, 0, 0, 0.6), 
            rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.6)
        );
    }

    & ul
    {
        width: 80%;
        margin-inline: auto;
        height: 600px;
        overflow-x: auto;

        & li
        {
            height: 40px;

            & .complete-todo-text-content-container
            {
                gap: 40px;
                white-space: nowrap;
                width: 100%;
                padding: 0 15px;
            }
        }
    }
}

