/* Completed state for completed todo */
.completed
{
    text-decoration: 1.5px solid line-through;
    color: #ccc;

    & .todo-item-text,
    & .amount-container
    {
        opacity: .5;
        transition: opacity .15s ease-in;
    }

    & .complete-todo-btn
    {
        opacity: .2;
        cursor: not-allowed;
        pointer-events: none;
    }
}


/* ULs */
ul
{
    height: fit-content;

    /* Amount container inside a ul */
    & .amount-container
    {
        gap: 10px;
    }

    /* lis inside a ul */
    li
    {
        height: 45px;
        width: 100%;
        background-color: var(--todo-item-background-color);
        box-shadow: var(--box-shadow);
        padding-left: 15px;

        /* Elements with the class of "done-todo-text-content-container" an li inside a ul */
        & .done-todo-text-content-container
        {
            width: 100%;
        }

        /* All lis but the last */
        &:not(:last-child)
        {
            border-bottom: 2px solid #ccc;
        }

        /* Elements with the class of ".container.list-item-controls-container" or ".container.done-list-item-controls-container" */
        & .container.list-item-controls-container,
        & .container.done-list-item-controls-container
        {
            height: 100%;
            border-left: 1.5px solid #ccc;

            /* Button with above selector as parent */
            & button
            {
                height: 100%;
                font-size: 15px;
                width: 40px;

                /* Buttons on hover */
                &:hover
                {
                    transition: color .2s ease-in, background .2s ease-in;
                }

                /* Icons inside the buttons */
                & i
                {
                    pointer-events: none;
                }
            }

            /* Elements with the class of "complete-todo-btn" or "undo-complete-todo-btn" with the above selector as parent*/
            & .complete-todo-btn,
            & .undo-complete-todo-btn
            {
                color: var(--todo-item-complete-btn-color);
                transition: color .2s ease-in, background .2s ease-in;
                width: 40px;

                /* Their hover state */
                &:hover
                {
                    color: var(--todo-item-complete-btn-hover-color);
                    background-color: var(--todo-item-complete-btn-hover-background-color);
                }
            }

            /* Elements with the class of "delete-todo-btn" or "delete-todo-btn" with the above selector as parent*/
            & .delete-todo-btn,
            & .delete-complete-todo-btn
            {
                color: var(--todo-item-delete-btn-color);
                background-color: var(--todo-item-btn-background-color);
                transition: color .2s ease-in, background .2s ease-in;

                /* Their hover states */
                &:hover
                {
                    color: var(--todo-item-delete-btn-hover-color);
                    background-color: var(--todo-item-delete-btn-hover-background-color);
                }
            }
        }

        /* Elements with the class of "todo-text-content-container" with the above selector as parent */
        & .todo-text-content-container
        {
            width: 100%;
        }
    }
}

